<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-4xl text-amber-600 font-bold"> Create Account </h1>
  <%= form_with url: registrations_path, model: @user do |f| %>
    <div class="my-5">
      <%= f.email_field :email_address, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full",
        placeholder: "Enter your email" %>
    </div>

    <div class="my-5">
      <%= f.password_field :password, class: "block shadow-sm rounded-md border border-gray-400 focus:outline-blue-600 px-3 py-2 mt-2 w-full",
        placeholder: "Enter a password" %>
    </div>
    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <div class="inline">
        <%= f.submit "Sign up", class: "btn btn-soft btn-primary" %>
      </div>
      <%= link_to "Log in", new_session_path, class: "btn btn-soft btn-secondary" %>
    </div>
  <% end %>
</div>
