<%= form_with(model: todo, class: "contents") do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul class="list-disc ml-6">
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, class:"label label-text" %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": todo.errors[:title].none?, "border-red-400 focus:outline-red-600": todo.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :body, class:"label label-text" %>
    <%= form.textarea :body, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": todo.errors[:body].none?, "border-red-400 focus:outline-red-600": todo.errors[:body].any?}] %>
  </div>

  <div class="my-5 w-full sm:w-1/2">
    <div class="form-control">
      <label class="label">
        <span class="label-text"><%= form.label :priority %></span>
      </label>
      <%= form.select :priority,
        Todo.priorities.keys.map { |k| [k.humanize, k] },
        {},
        class: ["select select-bordered w-full", ("select-error" if todo.errors[:priority].any?)].compact.join(" ") %>
      <% if todo.errors[:priority].any? %>
        <label class="label">
          <span class="label-text-alt text-error"><%= todo.errors.full_messages_for(:priority).join(", ") %></span>
        </label>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
